---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$black-color  : #000000;
$white-color  : #ffffff;
$green-color  : #8cc63f;
$blue-color   : #00b4f1;
$yellow-color : #ffec00;
$purple-color : #3b0096;
$pink-color   : #f286af;
$orange-color : #f58220;

$white-color-light  : lighten($white-color,  40%);
$white-color-dark   :  darken($white-color,  5%);
$green-color-light  : lighten($green-color,  40%);
$green-color-dark   :  darken($green-color,  5%);
$blue-color-light   : lighten($blue-color,   40%);
$blue-color-dark    :  darken($blue-color,   5%);
$yellow-color-light : lighten($yellow-color, 40%);
$yellow-color-dark  :  darken($yellow-color, 5%);
$purple-color-light : lighten($purple-color, 40%);
$purple-color-dark  :  darken($purple-color, 5%);
$pink-color-light    : lighten($pink-color,  40%);
$pink-color-dark     :  darken($pink-color,  5%);
$orange-color-light : lighten($orange-color, 40%);
$orange-color-dark  :  darken($orange-color, 5%);

body {
  background-color: $green-color;
  color: $white-color;
  font-size: 16pt;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
//  background-image: url("/img/textures/Jade_cloth_pxr128.jpg");
//  background-image: url("/img/textures/Red_velvet_pxr128.jpg");
}

.container {
  background-color: $blue-color;
  box-shadow: 0 0 60px rgba(0, 0, 0, .8);
}

// https://stackoverflow.com/questions/17408815/fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content/17863685#17863685
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.section {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  border-bottom: 1px dashed $white-color-dark;
  //background-color: $blue-color;
  //margin-bottom: 20px;
  //border-radius: 10px;
  //box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}

.section h2 {
  font-family: 'Boogaloo', cursive;
  font-size: 28pt;
  color: $yellow-color;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, .4);
}

.section h3 {
  font-family: 'Boogaloo', cursive;
  font-size: 20pt;
  text-transform: capitalize;
  margin-left: 15px;
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
}

.section p {
  margin-left: 15px;
}

.section img {
  margin-top: 25px;
}

.supporters li {
  font-size: 16pt;
  font-weight: 700;
  padding: 8pt;
}

.section .table-responsive {
  font-size: 14pt;
  padding: 10px 20px;
}

.section .table-striped>tbody>tr:nth-of-type(odd) {
  background-color: $blue-color-dark;
}

.section table thead th {
  text-align: right;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: 1px solid $blue-color-light;
}

.section table td {
  text-align: right;
}

.goals dt {
  font-size: 14pt;
  overflow: visible;
  width: 15%;
  display: block;
  white-space: normal;
  margin-bottom: 18px;
}

.goals dd {
  font-size: 14pt;
  width: 80%;
  margin-left: 15px;
  display: inline-block;
  margin-bottom: 18px;
}

.donate {
  margin-left: 15px;
  margin-right: 15px;
  min-height: 200px;
  background-color: $blue-color-light;
  background-image: none;
  color: $black-color;
  border-color: $blue-color-dark;
  box-shadow: 0 0 50px rgba(0, 0, 0, .25) inset;
}

.donate-btn {
  padding: 10px 0 0 120px;
}

address {
  width: 200px;
}

.site-footer {
  padding: 20px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px;
  background-color: $yellow-color;
  color: $purple-color;
  min-height: 70px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "nav",
  "carousel",
  "supper-club",
  "modal"
;
