---
---

@import "colors";

body {
  background-color: #680000;
}

.supper-club-page {
  font-family: 'EB Garamond', serif;
  text-shadow: none;
  text-align: center;
  color: #000;

  .reservations-box {
    font-family: 'EB Garamond', serif;
    font-size: 20pt;
    background-color: #222222;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ffff66;
    border-bottom: 1px solid #ffff66;
    box-shadow: 0 0 5px;
    a {
      color: #ffff33;
    }
  }

  .paper {
    background-image: url("/img/supper-club/paper.png");
    min-height: 1378px;
    padding: 0;
    margin-bottom: 20px;
  }

  img {
    margin-bottom: 20px;
  }

  h1 {
    text-shadow: none;
    padding-top: 30px;
    margin-top: 0px;

    .embellishment {
      display: inline-block;
      background-image: url("/img/supper-club/embellishment01.png");
      width: 33px;
      height: 19px;
      margin: 0 8px;
    }
    .embellishment.left {
      background-position: 0px 0;
    }
    .embellishment.right {
      background-position: -33px 0;
    }
  }

  h2 {
    font-family: 'EB Garamond', serif;
    font-size: 20pt;
    text-transform: none;
    color: #000;
    text-shadow: none;
    .embellishment {
      display: inline-block;
      background-image: url("/img/supper-club/embellishment02.png");
      width: 44px;
      height: 15px;
      margin: 0 8px;
    }
    .embellishment.left {
      background-position: 0px 0;
    }
    .embellishment.right {
      background-position: -44px 0;
    }
  }

  .col-1,
  .col-2 {
    margin: 15px 0;
    width: 560px;
  }

  .supper-club-series {
    padding: 30px;

    h1 {
      background-image: url("/img/supper-club/GDSC_series.png");
      width: 268px;
      height: 52px;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  p, li {
    font-size: 12pt;
    text-shadow: none;
  }

  ul{
    list-style: none;
    padding: 0;
  }

  .note {
    p{
      text-align: left;
    }
  }

  .flags {
    margin-top: 30px;
    margin-bottom: 0;
    box-shadow: none;
  }
}

.seatings {

  font-family: 'EB Garamond', serif;
  margin-bottom: 50px;

  .row {
    margin: 20px 0;
  }

  h1 {
    font-family: 'EB Garamond', serif;
    color: $red-color;
    height: 40px;
  }

  h2 {
    font-family: 'EB Garamond', serif;
    margin-bottom: 0;
    font-size: 18pt;
  }

  p {
    margin-bottom: 0;
  }

  .heading {
    width: 731px;
    margin: 0 auto;
    padding: 15px 0;
    background-color: #4a0200;
    box-shadow: 0 0 20px rgba(0, 0, 0, .6) inset;

    text-align: center;

    h1 {
      color: $white-color;
      font-size: 22pt;
      font-weight: 700;
      margin: 8px 0 8px 0;
    }

    h2 {
      margin: 8px 0 12px 0;
      font-size: 18pt;
      text-transform: none;
      font-style: italic;
      font-weight: 700;

      .embellishment {
        display: inline-block;
        background-image: url("/img/supper-club/embellishment03.png");
        width: 33px;
        height: 19px;
        margin: 0 8px;
      }
      .embellishment.left {
        background-position: 0px 0;
      }
      .embellishment.right {
        background-position: -33px 0;
      }
    }

    .nights {
      font-size: 18pt;
      font-weight: 700;
    }
  }

  .seating-box{
    background-color: $black-color;
    width: 731px;
    margin: 0 auto;
    border: 1px solid #888888;
    box-shadow: 0 0 20px rgba(0, 0, 0, .75);

    h2{
      font-size: 18pt;
      font-weight: 500;
      margin: 10px 15px;
      text-transform: capitalize;
    }

    img {
      background-color: #1c4756;
      padding: 40px 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, .75) inset;
    }
  }

  .sold-out {
    text-transform: uppercase;
    color: #ff0000;
    font-weight: 700;
  }
}
