---
---

body {
    background-image: url("/img/textures/Red_velvet_pxr128.jpg");
}

.navbar {
    margin-bottom: 0;
}

.container {
    background-color: #000;
}

.reservations-box {
    font-family: 'EB Garamond', serif;
    font-size: 20pt;
    background-color: #222222;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ffff66;
    border-bottom: 1px solid #ffff66;
    a {
        color: #ffff33;
    }
}

.supper-club-col {
  background-color: #000;
  font-family: 'EB Garamond', serif;
  padding-bottom: 30px;

  h2 {
      font-family: 'EB Garamond', serif;
      text-transform: none;
      font-size: 20pt;
  }
}

.paper {
  background-image: url("/img/supper-club/paper.png");
  min-height: 1378px;
  margin: 5px 0;
  padding: 0;
}

.supper-club-page {
  text-shadow: none;
  text-align: center;
  color: #000;
  h1 {
    text-shadow: none;
    padding-top: 30px;
    .embellishment {
      display: inline-block;
      background-image: url("/img/supper-club/embellishment01.png");
      width: 33px;
      height: 19px;
      margin: 0 8px;
    }
    .embellishment.left {
      background-position: 0px 0;
    }
    .embellishment.right {
      background-position: -33px 0;
    }
  }
  h2 {
    font-size: 16pt;
    color: #000;
    text-shadow: none;
    .embellishment {
      display: inline-block;
      background-image: url("/img/supper-club/embellishment02.png");
      width: 44px;
      height: 15px;
      margin: 0 8px;
    }
    .embellishment.left {
      background-position: 0px 0;
    }
    .embellishment.right {
      background-position: -44px 0;
    }
  }

  .supper-club-series {
    padding: 30px;
  }

  p, li {
    font-size: 12pt;
    text-shadow: none;
  }

  ul{
    list-style: none;
    padding: 0;
  }

  .note {
      p{
          text-align: left;
      }
  }
}

.seatings {

  font-family: 'EB Garamond', serif;
  background-color: #000;
  text-align: center;
  padding: 20px 0;

  .seating-box{
    background-color: #1c4756;
    width: 739px;
    margin: 0 auto;
    padding: 25px;
    //border-radius: 5px;
    box-shadow: 0 0 50px rgba(255, 255, 255, .2) inset;
  }

  h1 {
      font-family: 'EB Garamond', serif;
      color: #ff0000; //$yellow-color;
  }

  h2 {
      font-family: 'EB Garamond', serif;
      margin: 5px 20px 30px 20px;
      font-size: 18pt;
  }

  .row {
    margin: 20px 0;
  }

  .sold-out {
    text-transform: uppercase;
    color: #ff0000;
    font-weight: 700;
  }
}