---
layout: default
---
<div class="row section">
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <h2>The Forgotten Corner of Oregon</h2>
    <p>{{ site.data.business.forgotten-corner }}</p>
  </div>
  <div class="col-md-4">
    <img alt="Map showing The Forgotten Corner of Oregon."
         src="img/forgotten-corner-map.png"
         class="img-responsive center-block">
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row section">
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <img alt="A child paints."
         src="img/gumbycrop1-250x354.jpg"
         class="img-responsive center-block">
  </div>
  <div class="col-md-6">
    <h2>Mission</h2>
    <p>{{ site.data.business.mission }}</p>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row section">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    {% include budget.html %}
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row section">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    {% include goals-and-accomplishments.html %}
  </div>
  <div class="col-md-1"></div>
</div>
