---
layout: default
css-pre:
  - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"
  - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"
  - "/css/main.css"
js:
  - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"
  - "/js/carousel.js"
---
<div class="row">
  <div class="col-md-12">
    <!--
    <h2>About KIDS-HEAL</h2>
    {% include carousel.html data=site.data.about target="#imageModal" %}
    -->
    <h2>Educational Films</h2>
    <h3>Episodes</h3>
    {% include carousel.html data=site.data.films.episodes target="#videoModal" %}
    <span id="content-container"></span>


    <h3>Segments</h3>
    {% include carousel.html data=site.data.films.segments target="#videoModal" %}
    <h2>Artwork</h2>
    <h3>Skeleton Drawings</h3>
    {% include carousel.html data=site.data.art.skeletons target="#imageModal" %}
    <!--
    <h2>Voices</h2>
    {% include carousel.html data=site.data.voices target="#imageModal" %}
    -->
    {% include video-modal.html id="videoModal" %}
    {% include image-modal.html id="imageModal" %}
  </div>
</div>
