---
layout: default
css-pre:
  - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"
  - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"
  - "/css/main.css"
js:
  - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"
  - "/js/carousel.js"
---
<div class="main-page">
  <div class="row">
    <div class="col-md-12">
      <h2 class="main-title">KIDS-HEAL</h2>
      {% include carousel.html title="About" data=site.data.about type="html" %}

      <h2 class="main-title">Educational Films</h2>
      {% include carousel.html title="Season 1" data=site.data.films.season-1 type="video" %}
      {% include carousel.html title="Season 2" data=site.data.films.season-2 type="video" %}
      {% include carousel.html title="Segments" data=site.data.films.segments type="video" %}
      <h2 class="main-title">Artwork</h2>
      {% include carousel.html title="Skeletons" data=site.data.art.skeletons type="image" %}

      <h2 class="main-title">Voices</h2>
      {% include carousel.html title="Voices" data=site.data.voices type="html" %}
    </div>
  </div>
</div>
