---
layout: default
css-pre:
 - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"
 - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"
js:
 - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"
 - "/js/carousel.js"
---
<div class="row">
  <div class="col-md-12">
    <h2>Educational Films</h2>
    <h3>Episodes</h3>
    {% include carousel.html id="films-episodes-carousel" data=site.data.films.episodes target="#videoModal" count=5 %}
    <h3>Segments</h3>
    {% include carousel.html id="films-segments-carousel" data=site.data.films.segments target="#videoModal" count=5 %}
    <h2>Artwork</h2>
    <h3>Skeleton Drawings</h3>
    {% include carousel.html id="skeleton-carousel" data=site.data.art.skeletons target="#imageModal" count=5 %}
    {% include video-modal.html id="videoModal" %}
    {% include image-modal.html id="imageModal" %}
  </div>
</div>
