---
layout: default
css:
 - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"
 - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"
js:
 - "//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"
 - "/js/carousel.js"
---
<div class="row">
  <div class="col-md-12">
    {% include carousel.html id="films-episodes-carousel" data=site.data.films.episodes target="#videoModal" count=5 title="Episodes" %}
    {% include carousel.html id="films-segments-carousel" data=site.data.films.segments target="#videoModal" count=5 title="Segments" %}
    {% include carousel.html id="skeleton-carousel" data=site.data.art.skeletons target="#imageModal" count=5 title="Skeleton drawings" %}
    {% include video-modal.html id="videoModal" %}
    {% include image-modal.html id="imageModal" %}
  </div>
</div>
