---
layout: default
css-post:
  -  /css/supper-club.css
fonts:
  - "https://fonts.googleapis.com/css?family=EB+Garamond"
---
{% assign menu = site.data.supper-club.menu %}
{% assign series = site.data.supper-club.series %}
<div class="supper-club-page">
  <div class="row">
    <div class="col-md-12 reservations-box">
      <a href="/supper-club/seatings.html">Click here for reservations.</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 supper-club-col">
      <img alt="Golden Door Supper Club"
           src="img/supper-club/golden_door01.jpg"
           class="img-responsive center-block">
      <div class="supper-club-series paper">
        <h1 class="text-hide">Golden Door Supper Club Series</h1>
        {% for d in series.dinners %}
        <h2>{{ d.title }}</h2>
        <ul>
          {% for x in d.info %}
          <li>{{ x }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
        <div class="note">{{ series.note | markdownify }}</div>
      </div>
    </div>
    <div class="col-md-6 supper-club-col">
      <div class="supper-club-menu paper">
        <h1><span class="embellishment left"></span>{{ menu.title }}<span class="embellishment right"> </span></h1>
        <h2>{{ menu.desc }}</h2>
        {% for x in menu.participants %}
        <p>{{ x }}</p>
        {% endfor %}
        {% for c in menu.courses %}
        <h2><span class="embellishment left"></span>{{ c.title }}<span class="embellishment right"> </span></h2>
        <ul>
          {% for i in c.items %}
          <li>{{ i }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <img alt="Golden Door Supper Club"
           src="img/supper-club/golden_door02.jpg"
           class="img-responsive center-block">
    </div>
  </div>
</div>
