<div class="slick-carousel" data-slick='{
     "slidesToShow": 4,
     "slidesToScroll": 4,
     "dots": true,
     "responsive": [
     {
     "breakpoint": 1024,
     "settings": {
     "slidesToShow": 3,
     "slidesToScroll": 3
     }
     },
     {
     "breakpoint": 600,
     "settings": {
     "slidesToShow": 2,
     "slidesToScroll": 2
     }
     },
     {
     "breakpoint": 480,
     "settings": {
     "slidesToShow": 1,
     "slidesToScroll": 1
     }
     }
     ]
     }'>
  {% for x in include.data %}
  <a href="#"
     data-toggle="modal"
     data-target="{{ include.target }}"
     data-title="{{ x.title }}"
     data-url="{{ x.url }}"
     data-width="{{ x.width }}"
     data-height="{{ x.height }}">
    <img src="{{ x.thumb }}" alt="{{ x.title }}">
  </a>
  {% endfor %}
</div>
