<div class="slick-carousel" data-slick='{
     "slidesToShow": 5,
     "slidesToScroll": 5,
     "dots": true,
     "responsive": [
     {
     "breakpoint": 1300,
     "settings": {
     "slidesToShow": 4,
     "slidesToScroll": 4
     }
     },
     {
     "breakpoint": 1000,
     "settings": {
     "slidesToShow": 3,
     "slidesToScroll": 3
     }
     },
     {
     "breakpoint": 700,
     "settings": {
     "slidesToShow": 2,
     "slidesToScroll": 2
     }
     },
     {
     "breakpoint": 480,
     "settings": {
     "slidesToShow": 1,
     "slidesToScroll": 1
     }
     }
     ]
     }'>
  {% for x in include.data %}

  <a href="#"
     data-toggle="modal"
     data-target="{{ include.target }}"
     data-title="{{ x.title }}"
     data-url="{{ x.url }}"
     data-width="{{ x.width }}"
     data-height="{{ x.height }}">
    <img src="{{ x.thumb }}" alt="{{ x.title }}">
  </a>
  {% endfor %}
</div>
