
.slick-carousel {
  border: 1px solid $blue-color-dark;
  box-shadow: 0 0 10px rgba(0, 0, 128, .8) inset;
}

.slick-carousel a {
  background-color: $black-color;
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
  margin: 10px 10px;
}

.slick-carousel img {
  max-height: 200px;
  margin: 0 auto;
}

.slick-dots {
  width: auto;
  bottom: auto;
  top: -45px;
  right: 0;
}

.slick-dots li button:before {
  padding: 0;
  font-size: 15px;
}

.slick-dots li.slick-active button:before {
  color: $yellow-color !important;
  opacity: 1;
}

.slick-dots li button:before {
  color: $yellow-color-dark !important;
  opacity: 1;
}

.slick-prev,
.slick-next {
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.slick-next {
  right: -45px;
}

.slick-prev {
  left: -45px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  width: 40px;
  height: 40px;
  opacity: 1;
  color: $yellow-color-dark;
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    color: $yellow-color;
}
